{block .title}
	<title>{block title|striptags|firstupper}Knihovna - Žánry{/block}</title>
{/block}

{block #content}
	<h2>Žánry</h2>
		{form addGenreForm}
				{label name /}<br>
				<span>{input name}</span><br><br>
				{label icon /}<br>
				<span>{input icon}</span><br><br>
				{input submit}
			{/form addGenreForm}
{/block}