common:
	parameters:

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error
			
		session:
			expiration: 14 days


	services:
		authenticator: Authenticator
		routerFactory: RouterFactory
		router: @routerFactory::createRouter

		autorRepository: Knihovna\AutorRepository
		ctenarRepository: Knihovna\CtenarRepository
		knihaRepository: Knihovna\KnihaRepository
		pujcenoRepository: Knihovna\PujcenoRepository
		zanrRepository: Knihovna\ZanrRepository

	factories:


production < common:

development < common:
