common:
	parameters:

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			dsn: 'mysql:host=127.0.0.1;dbname=knihovna'
			user: root
			password:

		session:
			expiration: 14 days


	services:
		authenticator: Authenticator
		routerFactory: RouterFactory
		router: @routerFactory::createRouter

		autorRepository: Knihovna\AutorRepository
		ctenarRepository: Knihovna\CtenarRepository
		knihaRepository: Knihovna\KnihaRepository
		pujcenoRepository: Knihovna\PujcenoRepository
		zanrRepository: Knihovna\ZanrRepository

	factories:


production < common:

development < common:
