{block .title}
	<title>{block title|striptags|firstupper}Knihovna - Žánry{/block}</title>
{/block}

{block #content}
	<h2>Žánry</h2>
		<div class="clr"></div>
{/block}

{block search}
	{form searchForm}
		<span>
		{input search}
		{input submit}
		</span>
	{/form searchForm}
{/block}