<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<title>{block title|striptags|firstupper}Knihovna{/block}</title>
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/style.css">
	{block head}{/block}
</head>

<body>
<script> document.documentElement.className+=' js' </script>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="index.html">Knihovna</a></h1>
      </div>
      <div class="menu_nav">
        <ul>
          <li><a n:href="domu">Domů</a></li>
          <li><a n:href="autori">Autoři</a></li>
          <li><a n:href="knihy">Knihy</a></li>
          <li><a n:href="zanry">Žánry</a></li>
          <li><a n:href="ctenari">Čtenáři</a></li>
          <li><a n:href="pujceno">Půjčeno</a></li>
        </ul>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <div class="header_img">
      	<img src="{$basePath}/images/main_img.png" id="main_img" alt="" width="298" height="233" class="main_img" />
      	<img src="{$basePath}/images/main_img1.png" id="main_img1" alt="" width="298" height="233" class="main_img" />
      	<img src="{$basePath}/images/main_img2.png" id="main_img2" alt="" width="298" height="233" class="main_img" />
      	<img src="{$basePath}/images/main_img3.png" id="main_img3" alt="" width="298" height="233" class="main_img" />
      	<img src="{$basePath}/images/main_img4.png" id="main_img4" alt="" width="298" height="233" class="main_img" />
      	<img src="{$basePath}/images/main_img5.png" id="main_img5" alt="" width="298" height="233" class="main_img" />
      	<img src="{$basePath}/images/main_img6.png" id="main_img6" alt="" width="298" height="233" class="main_img" />
      	<img src="{$basePath}/images/main_img7.png" id="main_img7" alt="" width="298" height="233" class="main_img" />
        <h2>Seznam všech autorů a knížek</h2>
        <p>
        	Zjistěte si vše o autorech nebo o knížkách, jejich obsah, kým byly napsány či kdo si je půjčil.
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
            <div id="content">				      
              {include #content}
			      </div>
        </div>
      </div>
      <div class="sidebar">
        <div class="search">
        {include #search}
        </div>
        <div class="gadget">
          <h2>Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
          	<li><a n:href="domu">Domů</a></li>
          	<li><a n:href="autori">Autoři</a></li>
          	<li><a n:href="knihy">Knihy</a></li>
          	<li><a n:href="zanry">Žánry</a></li>
          	<li><a n:href="ctenari">Čtenáři</a></li>
          	<li><a n:href="pujceno">Půjčeno</a></li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Galerie</span></h2>
        <a href="#"><img src="{$basePath}/images/gallery_1.jpg" width="58" height="58" alt="" /></a>
        <a href="#"><img src="{$basePath}/images/gallery_2.jpg" width="58" height="58" alt="" /></a>
        <a href="#"><img src="{$basePath}/images/gallery_3.jpg" width="58" height="58" alt="" /></a>
        <a href="#"><img src="{$basePath}/images/gallery_4.jpg" width="58" height="58" alt="" /></a>
        <a href="#"><img src="{$basePath}/images/gallery_5.jpg" width="58" height="58" alt="" /></a>
        <a href="#"><img src="{$basePath}/images/gallery_6.jpg" width="58" height="58" alt="" /></a> 
      </div>
      <div class="col c2">
        <h2><span>Lorem Ipsum</span></h2>
        <p>Lorem ipsum dolor<br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Morbi tincidunt, orci ac convallis aliquam</a>, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
      </div>
      <div class="col c3">
        <h2><span>Kontakt</span></h2>
        <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui. Nulla pharetra, mauris vitae interdum dignissim, justo nunc suscipit ipsum. <a href="#">mail@priklad.cz</a><br />
          <a href="#">+420 555 888 999</a></p>
      </div>
      <div class="clr"></div>
    </div>
    <div class="footer">
      <p class="lf">&copy;2013 <a href="#">Knihovna</a>.</p>
      <div class="clr"></div>
    </div>
  </div>
</div>
{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/changingPics.js"></script>
{/block}
</body>
</html>
